main {
    padding-top: 70px;
}

h1,h2,h3,h4 {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
}

.navbar {
    margin-bottom: 0;
    border:0;
    border-radius: 0;
}

.navbar-default .navbar-toggle {
    border-color: #1abc9c;
    background-color: #1abc9c;
    border-radius: 6px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 6px 10px;
    margin-right: 15px;
    margin-top: 13px;
    margin-bottom: 13px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-default .navbar-toggle:hover {
    background-color: #148f77;
    border-color:  #148f77;
}

.navbar-header .inline {
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    color:white;
    line-height: 2;
    vertical-align: middle;
    padding: 0 3px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
}

.navbar-default {
    background-color: #2c3e50;
}

.navbar-default .navbar-nav>li>a {
    font-size: 16px;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #1abc9c;
}

.navbar-brand {
    line-height: 50px;
    height: 100%;
}

.navbar-default .navbar-brand {
    font-size: 20px;
    color: white;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
/*------------------- fine navbar------------- */
.nature {
    background-color: #1abc9c;
    color: white;
    padding: 96px 0;
}

.sailor {
    color:#2c3e50;
    padding: 96px 0;
}
.nature img {
    height: 255px;
}

.nature h2::after,
.nature h1::after {
    font-family: "Font Awesome 5 Free";
    content: '\f005';
    position: absolute;
    top: calc( 100% - -5px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    background-color: #1abc9c;
    padding: 0 10px;
}

.sailor h2::after {
    font-family: "Font Awesome 5 Free";
    content: '\f005';
    position: absolute;
    top: calc( 100% - -5px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    background-color:white ;
    padding: 0 10px;
}

.row img {
    width: 100%;
    max-width: 360px;
}

.portfolio .image-content {
    background-color: rgba(26, 188, 156, 0.9) ;
    margin-bottom: 50px;
    display: inline-block;
    position: relative;
    border-radius: 9px;
}

.portfolio .image-content:hover::before {
    content:"+";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px;
}

.portfolio .row img:hover {
    opacity: 0.1;
}

p {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}

.about p {
    font-size: 20px;
    margin-bottom: 50px;
}

.btn-default:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

hr {
    text-align: center;
    width: 288px;
    max-width: 90%;
    height: 4px;
    background-color: white;
    margin-bottom: 40px;
}

.sailor hr {
    background-color: #2c3e50;
}

h1 {
    position: relative;
    padding: 20px 0;
    font-size: 44px;
    font-weight: 700;
    max-width: 100%;
}

h2 {
    position: relative;
    font-size: 36px;
    font-weight: 700;
}

.contact-me h2 {
    font-size: 36px;
}

.form-group input,
.form-group textarea {
    border: 0 solid white;
    border-bottom: 1px solid #e9ecef;
    font-size: 24px;
    padding: 38px 0;
    resize: none;
}

.form-control {
    box-shadow: inset 0 0px 0px rgb(0 0 0);
    border-radius: 0;
}

.form-control:focus {
    border-color: #e9ecef;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.labelfordiv {
    display: none;
}

.form-group:active .labelfordiv {
    display: inline-block;
    position: absolute;
    top:0;
    color:  #1abc9c;
}

.btn-primary {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
    padding: 16px 28px;
    font-size: 20px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #159a80;
    border-color: #148f77;
}

footer {
    background-color:  #2c3e50;
    color: white;
    padding: 80px 0;
}
footer h3 {
    font-size: 24px;
    font-weight: 700;
}

footer i {
    padding: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 5px;
    font-size: 1.5em;
    width: 60px;
    height: 60px;
}

footer i:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

footer p {
    font-size: 20px;
    padding: 0 45px;
}

footer span {
    color: #1abc9c;
}

footer span:hover {
    color: #117964;
    text-decoration: underline;
}

.btn-default {
    font-size: 20px;
    padding: 16px 28px;
    background-color: transparent;
    border-color: white;
    border-radius: 7px;
    color: white;
}

.downfoot {
    background-color: #1a252f;
    color: white;
    padding: 24px 0;
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 64px;
    }
    h2 {
        font-size: 48px;
    }
    .contact-me h2 {
        font-size: 48px;
    }
    .navbar-default .navbar-brand {
        font-size: 24px;
    }
}
